/* ═══════════════════════════════════════════════════
   CTA "READY TO SELL"
═══════════════════════════════════════════════════ */
#cta {
  position: relative;
  padding: 10rem 0 20rem;
  .cta__bg {
    position: absolute;
    inset: 0 0 10rem;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
  .cta__inner {
    display: flex;
    align-items: center;
    gap: 6rem;
    .cta__text {
      flex: 1;
      .cta__desc {
        margin-top: 2rem;
        font-size: var(--fs-20);
        color: var(--color-gray-text);
        line-height: 1.4;
      }
    }
    .cta__visual {
      width: 50rem;
      min-width: 50rem;
      margin-bottom: -20rem;
    }
  }
}
