/* ═══════════════════════════════════════════════════
   HOW IT WORKS
═══════════════════════════════════════════════════ */
#hiw {
  background: #fff;
  padding: 2rem 0 10rem;
  .hiw__section-inner {
    display: flex;
    gap: 4rem;
  }
  .hiw__tabs {
    width: 40rem;
    min-width: 40rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .hiw__tab {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding: 0 1.8rem;
    padding-right: 0;
    height: 8rem;
    cursor: pointer;
    border-radius: 0.8rem 5rem 5rem 0.8rem;
    border: 0.1rem solid transparent;
    transition:
      background 0.2s,
      border-color 0.2s;
    &.hiw__tab--active {
      background: var(--color-pink-bg);
      border-color: #ffdfdf;
    }
    &.hiw__tab--inactive {
      background: var(--color-efefef);
    }
    .hiw__tab-icon {
      width: 5rem;
      min-width: 5rem;
      height: 5rem;
      object-fit: cover;
      flex-shrink: 0;
    }
    .hiw__tab-label {
      flex: 1;
      font-size: var(--fs-22);
      font-weight: var(--fw-600);
      color: #000;
      line-height: 1;
    }
    .hiw__tab-num {
      width: 8rem;
      min-width: 8rem;
      height: 8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      border-radius: 5rem;
      font-size: var(--fs-27);
      font-weight: var(--fw-700);
      color: var(--color-white);
      text-align: center;
      line-height: 1;
    }
    &.hiw__tab--active .hiw__tab-num {
      background: var(--color-red);
    }
    &.hiw__tab--inactive .hiw__tab-num {
      background: #000;
    }
  }

  /* Content panel right */
  .hiw__panel {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 5rem;
    background: var(--color-pink-bg);
    border-radius: var(--radius-20);
    border: 0.1rem solid var(--color-pink-bdr);
    .hiw__panel-img {
      width: 38rem;
      height: 40rem;
      object-fit: contain;
      flex-shrink: 0;
    }
    .hiw__panel-title {
      font-size: var(--fs-35);
      font-weight: var(--fw-600);
      color: #000;
      line-height: 1.2;
      margin-bottom: 2rem;
    }
    .hiw__panel-desc {
      font-size: var(--fs-20);
      color: var(--color-gray-text);
    }
  }
}
