$colors: (
	"prime_color": #2c67ef,
	"black": #111,
	"light_black": #033446,
	"dark": #0d0c10,
	"light": #fff,
	"light_white": #f8f7f4,
	"gray": #dcdcdc,
	"dark_gray": #a2b1b3,
	"light_gray": #f8f7f4,
	"green": #257f06,
	"yellow": #ffcb00,
	"red": #d91735,
	"blue": #4378ff,
	"theme": #2c67ef,
);

:root {
	@each $color, $value in $colors {
		--#{$color}: #{$value};
		--#{$color}_rgb: #{red($value)}, #{green($value)}, #{blue($value)};
	}
	// "black": #161a22,
	// "green": #19cba6,
	--font-OpenSauceSans: "OpenSauceSans", sans-serif;
	--button_input_height: 4.6rem;
	--shadow: rgba(var(--black_rgb), 8%) 0 0 2rem 0;
	--transition: all ease 0.3s;
}

/*
|----------------------------------------------------------------------
|		Body
|----------------------------------------------------------------------
*/

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	overflow: hidden;
	overflow-y: initial;
	&.flow {
		overflow: hidden !important;
		body {
			overflow: hidden !important;
		}
	}
}

body {
	position: relative;
	@include flex($flow: column);
	min-height: 100vh;
	background-color: var(--light);
	// background-color: var(--light_white);
	color: var(--black);
	font-size: 1.4rem;
	font-family: var(--font-OpenSauceSans);
	font-weight: 400;
	margin: 0;
	padding: 0;
	line-height: 1.3;
	word-break: break-word;
	@include trans;
	@include mobile_inverse {
		line-height: 1.3;
	}
	@at-root {
		section {
			position: relative;
			// padding: 6rem 0;
		}
		a {
			color: var(--black);
			word-break: break-word;
			text-decoration: none;

			@include trans;
			&:hover {
				color: var(--prime_color);
			}
			&:focus,
			&:hover {
				outline: none !important;
				text-decoration: none !important;
			}
		}
		button {
			cursor: pointer;
			@include trans;
		}
		.color {
			color: var(--prime_color);
		}
		.background {
			background: var(--prime_color);
		}
	}
}

::-moz-selection {
	background: var(--prime_color);
	color: var(--light);
}

::selection {
	background: var(--prime_color);
	color: var(--light);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-weight: 500;
	font-family: var(--font-OpenSauceSans);
	line-height: 1.1;
	margin: 0 0 1rem;
	&.require {
		&::after {
			content: "*";
			color: var(--red);
		}
	}
	> a {
		color: inherit;
	}
	> strong {
		color: var(--prime_color);
		font-weight: inherit;
	}
}

h1,
.h1 {
	font-size: 3.2rem;
	@include mobile_inverse {
		font-size: 4.6rem;
	}
}

h2,
.h2 {
	font-size: 2.6rem;
	@include mobile_inverse {
		font-size: 3rem;
	}
}

h3,
.h3 {
	font-size: 2rem;
	@include mobile_inverse {
		font-size: 2.6rem;
	}
}

h4,
.h4 {
	font-size: 1.8rem;
	@include mobile_inverse {
		font-size: 2.2rem;
	}
}

h5,
.h5 {
	font-size: 1.6rem;
	@include mobile_inverse {
		font-size: 1.8rem;
	}
}

h6,
.h6 {
	font-size: 1.4rem;
}

.fw {
	&_100 {
		font-weight: 100 $i;
	}
	&_200 {
		font-weight: 200 $i;
	}
	&_300 {
		font-weight: 300 $i;
	}
	&_400 {
		font-weight: 400 $i;
	}
	&_500 {
		font-weight: 500 $i;
	}
	&_600 {
		font-weight: 600 $i;
	}
	&_700 {
		font-weight: 700 $i;
	}
	&_800 {
		font-weight: 800 $i;
	}
}

p {
	margin: 0 0 1rem;
	> a {
		display: inline;
		color: var(--prime_color);
		&:hover {
			color: #2115dc;
		}
	}
	&:nth-last-child(1) {
		margin: 0;
	}
}

.table_dv {
	display: table;
	@include fill;
	.table_cell {
		display: table-cell;
		vertical-align: middle;
	}
}

.toggle {
	@include flex(center, center);
	@include pos($z: 4);
	@include inset(0 2rem 0 auto);
	// width: 1.8rem;
	width: 2.4rem;
	height: 1.4rem;
	background: transparent;
	padding: 0;
	margin: auto;
	border: 0;
	cursor: pointer;
	@include trans;
	@include ipad_sm_inverse {
		display: none;
	}
	&::before,
	&::after,
	> span {
		position: absolute;
		width: inherit;
		height: 0.2rem;
		background: var(--light);
		@include trans;
	}
	> span {
		opacity: 0;
	}
	&::before {
		content: "";
		top: 0;
		@at-root .active#{&} {
			top: 50%;
			margin-top: -0.1rem;
			@include transform(rotate(45deg));
		}
	}
	&::after {
		content: "";
		bottom: 0;
		@at-root .active#{&} {
			bottom: 50%;
			margin-bottom: -0.1rem;
			@include transform(rotate(135deg));
		}
	}
	> span {
		@at-root .active#{&} {
			opacity: 0;
		}
	}
}

/*
|----------------------------------------------------------------------
|		Body Inner Css
|----------------------------------------------------------------------
*/

img {
	width: 100%;
	height: auto;
	display: block;
}

b,
strong {
	font-weight: 700;
}

input,
button,
select,
textarea {
	text-decoration: none !important;
	outline: none !important;
}

.contain,
.contain-fluid {
	position: relative;
	max-width: $container;
	padding: 0 2rem;
	margin: 0 auto;
	min-height: 0.1rem;
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after,
	&:after {
		clear: both;
	}
	&.sm {
		max-width: $container_sm;
	}
}

.contain-fluid {
	max-width: $container_fluid !important;
}

.row {
	@include row;
	&.flex_row {
		> div {
			// @include flex;
			> * {
				width: 100%;
			}
		}
	}
	&.form_row {
		@include row(1rem, 1rem);
	}
}

.btn_blk {
	@include flex($flow: wrap);
	@include gap(0.6rem);
	@include mobile_inverse {
		@include gap(1rem);
	}
}

/*
|----------------------------------------------------------------------
|		Popup
|----------------------------------------------------------------------
*/

.popup {
	@include pos($pos: fixed);
	display: none;
	// background: rgba(25, 33, 37, 0.95);
	background: rgba(var(--black_rgb), 0.3);
	padding: 0;
	overflow: auto;
	z-index: 101;
	> .table_dv {
		@include fill;
		@include flex($justify: center, $flow: wrap);
		> .table_cell {
			display: block;
			-ms-flex-item-align: center;
			align-self: center;
			width: 100%;
			padding: 3rem 0;
		}
	}
	._inner {
		position: relative;
		background: var(--light);
		padding: 2.5rem;
		margin: auto;
		border-radius: 1rem;
		> .x_btn {
			& + h1,
			& + h2,
			& + h3,
			& + h4,
			& + h5,
			& + h6 {
				padding-right: 3rem;
			}
		}
	}
	.list {
		> li {
			@include flex;
			margin-bottom: 1rem;
			> div:nth-child(1) {
				width: 12rem;
				min-width: 12rem;
				font-weight: 700;
				margin-right: 1rem;
			}
			> div:nth-child(2) {
				width: 100%;
				color: var(--dark_gray);
			}
		}
	}
	hr {
		margin: 2rem 0;
	}
}

/*
|----------------------------------------------------------------------
|		Dropdown
|----------------------------------------------------------------------
*/

.dropdown {
	.dropdown-toggle {
		&:after {
			display: none;
		}
		&.select {
			@include flex(center, space-between);
			@include gap(1.5rem);
			overflow: hidden;
			&:after {
				color: inherit;
				margin-left: auto;
			}
		}
		&.chevron {
			&:after {
				content: "";
				@include chev;
				display: block;
				width: 1.4rem;
				height: 1.4rem;
				-webkit-transition: none;
				transition: none;
			}
			&.show {
				&:after {
					-webkit-transform: rotateX(180deg);
					transform: rotateX(180deg);
				}
			}
		}
	}
	.dropdown-menu {
		// top: 100% !important;
		min-width: 26rem;
		background: var(--light);
		font-size: inherit;
		margin: 0;
		padding: 0.7rem 0;
		border: 0.1rem solid rgba(var(--black_rgb), 0.1);
		border-radius: 0.7rem;
		// @include trans;
		// transform: none !important;
		z-index: 5;
		> li {
			display: block;
			&:not(:nth-last-child(1)) {
				border-bottom: 0.1rem solid rgba(var(--black_rgb), 0.1);
			}
			> * {
				@include flex(center);
				width: 100%;
				background: transparent;
				color: var(--black);
				text-align: left;
				line-height: 1.2;
				padding: 1.2rem 2rem;
				border: 0;

				@include trans;
				&:hover {
					color: var(--prime_color);
				}
			}
		}
	}
}

/*
|----------------------------------------------------------------------
|		Ico Css
|----------------------------------------------------------------------
*/

.ico {
	position: relative;
	@include flex(center, center);
	// background: var(--light);
	text-align: center;
	a,
	img {
		@include object(contain);
	}
	&.round {
		border-radius: 75%;
		a,
		img {
			border-radius: inherit;
		}
	}
	&.fill {
		img {
			-o-object-fit: cover;
			object-fit: cover;
		}
	}
}

/*
|----------------------------------------------------------------------
|		Scrollbar
|----------------------------------------------------------------------
*/

.scrollbar {
	&::-webkit-scrollbar-track {
		background: #f6f9fc;
		border-radius: 5rem;
	}
	&::-webkit-scrollbar {
		width: 0.5rem;
		height: 1rem;
		background-color: #f6f9fc;
		border-radius: 5rem;
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(var(--black_rgb), 0.15);
		border-radius: 5rem;
	}
}

/*
|----------------------------------------------------------------------
|		Slick-Carousel
|----------------------------------------------------------------------
*/

.slick-carousel {
	.slick-slide {
		outline: none !important;
	}
	.slick-arrow {
		width: 4rem;
		height: 4rem;
		background: var(--light);
		color: var(--prime_color);
		padding: 1.2rem;
		@include shadow(0 0.2rem 0.2rem rgba(29, 29, 27, 0.25));
		@include trans;
		&.slick-prev {
			left: -4rem;
			&:after {
				@include arrow_left;
			}
		}
		&.slick-next {
			right: -4rem;
			&:after {
				@include arrow_right;
			}
		}
		&.slick-prev,
		&.slick-next {
			&:before {
				display: none;
			}
			&:after {
				content: "";
				width: 100% !important;
				height: 100% !important;
				-webkit-transition: none;
				transition: none;
			}
		}
		&.slick-disabled {
			opacity: 0;
			visibility: hidden;
		}
		&:hover {
			background: var(--light);
			color: var(--black);
		}
	}
	.slick-dots {
		position: static;
		margin-top: 3rem;
		li {
			button {
				width: 3rem;
				height: 0.3rem;
				background: var(--gray);
				border-radius: 5rem;
			}
			&.slick-active {
				button {
					background: var(--prime_color);
				}
			}
		}
	}
}

/*_____ fancybox _____*/

[data-fancybox] {
	display: block;
	cursor: pointer;
}

.fancybox__container {
	.fancybox__thumbs {
		.carousel__slide {
			.fancybox__thumb {
				border-radius: 0;
				&:after {
					border: 0.3rem solid var(--prime_color) !important;
					border-radius: 0;
				}
			}
		}
	}
}

/*_____ rating _____*/

.rating {
	@include flex(center, flex-end);
	@include gap(0.5rem);
	direction: rtl;
	> i {
		width: 1.6rem;
		min-width: 1.6rem;
		height: 1.6rem;
		@include star;
		color: var(--gray);
		&.fill {
			color: var(--yellow);
		}
	}
}

.pagination {
	@include flex(center, center);
	margin-top: 4rem;
	> ul {
		@include list;
		@include flex;
		@include gap(0 0.6rem);
		overflow: hidden;
		> li {
			> a,
			> span,
			> button {
				@include flex(center, center);
				min-width: 3.2rem;
				height: 3.2rem;
				background: transparent;
				color: var(--black);
				font-weight: 500;
				padding: 0 0.5rem;
				border: 0.1rem solid rgba(var(--violet_color_rgb), 0.2);
				border-radius: 0.4rem;
				&:hover {
					background: rgba(var(--black_rgb), 0.1);
					color: var(--black);
				}
				&.prev,
				&.next {
					&::before {
						content: "";
						@include mask_image;
						width: 1rem;
						min-width: 1rem;
						height: 1rem;
						@include trans(none);
					}
				}
				&.prev {
					&::before {
						@include chev_left;
					}
				}
				&.next {
					&::before {
						@include chev_right;
					}
				}
			}
			> span {
				color: var(--prime_color);
			}
			&.active {
				> a,
				> span,
				> button {
					background: var(--light);
					color: var(--burgundy_color);
					border-color: var(--burgundy_color);
				}
			}
		}
	}
}
