/* ═══════════════════════════════════════════════════
   TESTIMONIALS
═══════════════════════════════════════════════════ */
#testimonials {
  padding: 10rem 0;
  .test__subtitle {
    font-size: var(--fs-20);
    color: var(--color-gray-text);
  }
  .test__cards {
    display: grid;
    grid-template-columns: repeat(3, 41.5rem);
    gap: 3rem;
    justify-content: center;
    .test__card {
      display: flex;
      gap: 2rem;
      padding: 2.5rem;
      background: var(--color-white);
      border-radius: var(--radius-16);
      box-shadow: var(--shadow-review);
      .test__avatar {
        width: 4rem;
        height: 4rem;
        border-radius: 4rem;
        flex-shrink: 0;
      }
      .test__avatar--purple {
        background: #811ea1;
      }
      .test__avatar--blue {
        background: #3b5bdb;
      }
      .test__avatar--green {
        background: #2f9e44;
      }
      .test__card-name {
        font-size: var(--fs-18);
        font-weight: var(--fw-600);
        color: var(--color-dark);
        line-height: 1;
        margin-bottom: 1rem;
      }
      .test__card-review {
        margin-bottom: 1rem;
        font-size: 1.6rem;
        font-weight: var(--fw-400);
        color: var(--color-dark);
        line-height: 1.4;
      }
      .test__card-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .test__card-meta {
        display: flex;
        align-items: center;
        gap: 0.8rem;
      }
      .test__google-icon {
        width: 2.4rem;
        height: 2.4rem;
      }
      .test__date {
        font-size: var(--fs-14);
        font-weight: var(--fw-500);
        color: rgba(26, 26, 26, 0.7);
        line-height: 1;
      }
      .test__stars {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        .test__star {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
  .test__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    margin-top: 4rem;
    .test__page-btn {
      width: 5.8rem;
      height: 5.8rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: none;
      transition: background 0.15s;
      background: var(--color-red);
    }
    .test__page-icon {
      width: 1.9rem;
      height: 1.9rem;
    }
  }
}
